{{>board/layout/header}}
<body>
    <div>
        <p>제목</p>
        {{board.subject}}
    </div>

    <div>
        <p>저자</p>
        {{board.author}}
    </div>

    <div>
        <p>날짜</p>
        {{board.date}}
    </div>

    <div>
        <p>내용</p>
        {{board.content}}
    </div>
</body>
{{>board/layout/footer}}